<a href="https://colab.research.google.com/github/mpiplani/NLP-Basics/blob/master/HMM_SPEECH_TAGGING_BASIC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import nltk
import IPython
import re

In [0]:
text = "As I was waiting, a man came out of a side room, and at a glance I was sure he must be Long John."

In [3]:
text = text.lower()

text = re.sub(r"[^a-zA-Z0-9]", " ", text)

text = text.split()
print("Preprocessed text: \n", text)

Preprocessed text:
 ['as', 'i', 'was', 'waiting', 'a', 'man', 'came', 'out', 'of', 'a', 'side', 'room', 'and', 'at', 'a', 'glance', 'i', 'was', 'sure', 'he', 'must', 'be', 'long', 'john']

In [5]:
nltk.download('averaged_perceptron_tagger')
nltk.pos_tag(text)

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

[('as', 'IN'),
 ('i', 'NN'),
 ('was', 'VBD'),
 ('waiting', 'VBG'),
 ('a', 'DT'),
 ('man', 'NN'),
 ('came', 'VBD'),
 ('out', 'IN'),
 ('of', 'IN'),
 ('a', 'DT'),
 ('side', 'NN'),
 ('room', 'NN'),
 ('and', 'CC'),
 ('at', 'IN'),
 ('a', 'DT'),
 ('glance', 'NN'),
 ('i', 'NN'),
 ('was', 'VBD'),
 ('sure', 'JJ'),
 ('he', 'PRP'),
 ('must', 'MD'),
 ('be', 'VB'),
 ('long', 'JJ'),
 ('john', 'NN')]

LOOKUP TABLE

In [0]:
import re
import numpy as np
import pandas as pd
from collections import Counter
from nltk.tokenize import word_tokenize

In [7]:
text = ["Mary saw Jane.",
        "Jane saw Will."]
print(text)

labels = ["noun verb noun",
          "noun verb noun"]
print(labels)

['Mary saw Jane.', 'Jane saw Will.']
['noun verb noun', 'noun verb noun']

In [9]:
nltk.download('punkt')
def preprocess(text_list, labels):
    # Converting the list of sentences into one string
    text = " ".join(text_list)
    # Convert to lowercase
    text = text.lower()
    # Removing punctuation
    text = re.sub(r"[^a-zA-Z0-9]", " ", text)
    # Tokenize the words
    tokens = word_tokenize(text)

    # Converting the list of labels into one string
    labels = " ".join(labels)
    labels = word_tokenize(labels)
    
    return tokens, labels

tokens, labels = preprocess(text, labels)
print("Tokens: \n", tokens, "\n")
print("Labels: \n", labels)

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
Tokens:
 ['mary', 'saw', 'jane', 'jane', 'saw', 'will']

Labels:
 ['noun', 'verb', 'noun', 'noun', 'verb', 'noun']

In [10]:
def count(tokens, labels):
    # Initialize Counter
    cnt = Counter()
    # Iterating through tokens and labels
    for i_word, i_label in zip(tokens, labels):
        # If word and label are inside counter
        if (i_word, i_label) not in cnt:
            cnt[(i_word, i_label)] = 1
        # If word and label are not inside counter
        else:
            cnt[(i_word, i_label)] += 1
    return cnt

cnt = count(tokens, labels)
cnt

Counter({('jane', 'noun'): 2,
         ('mary', 'noun'): 1,
         ('saw', 'verb'): 2,
         ('will', 'noun'): 1})

In [11]:
df = pd.DataFrame(np.zeros((len(np.unique(tokens)), len(np.unique(labels)))))
# Changing the column names
df.columns = list(np.unique(labels))
# Changing the index names
df.index = list(np.unique(tokens))

df

      noun  verb
jane   0.0   0.0
mary   0.0   0.0
saw    0.0   0.0
will   0.0   0.0

In [12]:
for i in list(cnt.items()):
    # Get the corresponding word
    word = i[0][0]
    # Get the corresponding lable
    label = i[0][1]
    # Update
    df[label][word] = i[1]
    
df

      noun  verb
jane   2.0   0.0
mary   1.0   0.0
saw    0.0   2.0
will   1.0   0.0

BIGRAMS

In [0]:
import re
from collections import Counter
import numpy as np
import pandas as pd
import nltk
from nltk.tokenize import word_tokenize

In [14]:
text = ["Mary will see Jane.",
        "Will will see Mary.",
        "Jane will see Will."]
print("Text: \n", text, "\n")

# Get the lable
labels = ["noun modal verb noun",
         "noun modal verb noun",
         "noun modal verb noun"]
print("Label: \n", labels)

Text:
 ['Mary will see Jane.', 'Will will see Mary.', 'Jane will see Will.']

Label:
 ['noun modal verb noun', 'noun modal verb noun', 'noun modal verb noun']

In [15]:
def preprocess(text_list, labels):
    # Converting the list of sentences into one string
    text = " ".join(text_list)
    # Convert to lowercase
    text = text.lower()
    # Removing punctuation
    text = re.sub(r"[^a-zA-Z0-9]", " ", text)
    # Tokenize the words
    tokens = word_tokenize(text)

    # Converting the list of labels into one string
    labels = " ".join(labels)
    labels = word_tokenize(labels)
    
    return tokens, labels

tokens, labels = preprocess(text, labels)
print("Tokens: \n", tokens, "\n")
print("Labels: \n", labels)

Tokens:
 ['mary', 'will', 'see', 'jane', 'will', 'will', 'see', 'mary', 'jane', 'will', 'see', 'will']

Labels:
 ['noun', 'modal', 'verb', 'noun', 'noun', 'modal', 'verb', 'noun', 'noun', 'modal', 'verb', 'noun']

In [16]:
def bigram(tokens):
    bigrams = list(nltk.bigrams(tokens))
    return bigrams

tokens_bigram = bigram(tokens)
labels_bigram = bigram(labels)
print("Tokens bigram: \n", tokens_bigram, "\n")
print("Labels bigram: \n", labels_bigram)

Tokens bigram:
 [('mary', 'will'), ('will', 'see'), ('see', 'jane'), ('jane', 'will'), ('will', 'will'), ('will', 'see'), ('see', 'mary'), ('mary', 'jane'), ('jane', 'will'), ('will', 'see'), ('see', 'will')]

Labels bigram:
 [('noun', 'modal'), ('modal', 'verb'), ('verb', 'noun'), ('noun', 'noun'), ('noun', 'modal'), ('modal', 'verb'), ('verb', 'noun'), ('noun', 'noun'), ('noun', 'modal'), ('modal', 'verb'), ('verb', 'noun')]

In [17]:
def bigram_count(tokens, labels):
    # Initialize Counter
    cnt = Counter()
    # Iterating through tokens and labels
    for i_word, i_label in zip(tokens, labels):
        # If word and label are inside counter
        if (i_word, i_label) not in cnt:
            cnt[(i_word, i_label)] = 1
        # If word and label are not inside counter
        else:
            cnt[(i_word, i_label)] += 1
    return cnt

bigram_count = bigram_count(tokens_bigram, labels_bigram)
bigram_count

Counter({(('jane', 'will'), ('noun', 'modal')): 1,
         (('jane', 'will'), ('noun', 'noun')): 1,
         (('mary', 'jane'), ('noun', 'noun')): 1,
         (('mary', 'will'), ('noun', 'modal')): 1,
         (('see', 'jane'), ('verb', 'noun')): 1,
         (('see', 'mary'), ('verb', 'noun')): 1,
         (('see', 'will'), ('verb', 'noun')): 1,
         (('will', 'see'), ('modal', 'verb')): 3,
         (('will', 'will'), ('noun', 'modal')): 1})

In [18]:
# Converting words from ('mary', 'will') format to mary-will format
words_names = ["-".join(i[0][0]) for i in list(bigram_count.items())]
print("words names: \n", words_names, "\n")

# Converting labels from ('noun', 'modal') format to noun-modal format
labels_names = ["-".join(i[0][1]) for i in list(bigram_count.items())]
print("labels names: \n", labels_names)

words names:
 ['mary-will', 'will-see', 'see-jane', 'jane-will', 'will-will', 'see-mary', 'mary-jane', 'jane-will', 'see-will']

labels names:
 ['noun-modal', 'modal-verb', 'verb-noun', 'noun-noun', 'noun-modal', 'verb-noun', 'noun-noun', 'noun-modal', 'verb-noun']

In [19]:
df = pd.DataFrame(np.zeros((len(np.unique(words_names)), len(np.unique(labels_names)))))
# Changing the column names
df.columns = np.unique(labels_names)
# Changing the index names
df.index = np.unique(words_names)

df

           modal-verb  noun-modal  noun-noun  verb-noun
jane-will         0.0         0.0        0.0        0.0
mary-jane         0.0         0.0        0.0        0.0
mary-will         0.0         0.0        0.0        0.0
see-jane          0.0         0.0        0.0        0.0
see-mary          0.0         0.0        0.0        0.0
see-will          0.0         0.0        0.0        0.0
will-see          0.0         0.0        0.0        0.0
will-will         0.0         0.0        0.0        0.0

In [20]:
for i in zip(bigram_count.items()):
    # Get the corresponding word
    word = "-".join(i[0][0][0])
    # Get the corresponding lable
    label = "-".join(i[0][0][1])
    # Update
    df[label][word] = i[0][1]
    
df

           modal-verb  noun-modal  noun-noun  verb-noun
jane-will         0.0         1.0        1.0        0.0
mary-jane         0.0         0.0        1.0        0.0
mary-will         0.0         1.0        0.0        0.0
see-jane          0.0         0.0        0.0        1.0
see-mary          0.0         0.0        0.0        1.0
see-will          0.0         0.0        0.0        1.0
will-see          3.0         0.0        0.0        0.0
will-will         0.0         1.0        0.0        0.0

HMM

In [23]:
!pip install pomegranate

import numpy as np
import re
import matplotlib.pyplot as plt
import pomegranate


# Initiaize the Hidden Markov Model (HMM)
model = pomegranate.HiddenMarkovModel()

Requirement already satisfied: pomegranate in /usr/local/lib/python3.6/dist-packages (0.11.0)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from pomegranate) (1.3.0)
Requirement already satisfied: numpy>=1.8.0 in /usr/local/lib/python3.6/dist-packages (from pomegranate) (1.16.4)
Requirement already satisfied: networkx>=2.0 in /usr/local/lib/python3.6/dist-packages (from pomegranate) (2.3)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.6/dist-packages (from pomegranate) (3.13)
Requirement already satisfied: joblib>=0.9.0b4 in /usr/local/lib/python3.6/dist-packages (from pomegranate) (0.13.2)
Requirement already satisfied: decorator>=4.3.0 in /usr/local/lib/python3.6/dist-packages (from networkx>=2.0->pomegranate) (4.4.0)

In [0]:
emission_noun = pomegranate.DiscreteDistribution({"mary": 4/9, 
                                                  "jane": 2/9, 
                                                  "will": 1/9, 
                                                  "spot": 2/9, 
                                                  "can": 0, 
                                                  "see": 0, 
                                                  "pat": 0})
state_noun = pomegranate.State(emission_noun, name = "noun")

# "Modal" emission and state
emission_modal = pomegranate.DiscreteDistribution({"mary": 0, 
                                                  "jane": 0, 
                                                  "will": 3/4, 
                                                  "spot": 0, 
                                                  "can": 1/4, 
                                                  "see": 0, 
                                                  "pat": 0})
state_modal = pomegranate.State(emission_noun, name = "modal")

# "Verb" emission and state
emission_verb = pomegranate.DiscreteDistribution({"mary": 0, 
                                                  "jane": 0, 
                                                  "will": 0, 
                                                  "spot": 1/4, 
                                                  "can": 0, 
                                                  "see": 1/2, 
                                                  "pat": 1/4})
state_verb = pomegranate.State(emission_noun, name = "verb")

In [0]:
### Transition probabilities

# Transition probabilities from "<S>" to "noun", "modal", "verb"
model.add_transition(model.start, state_noun, 3/4)
model.add_transition(model.start, state_modal, 1/4)
model.add_transition(model.start, state_verb, 0)

# Transition probabilities from "noun" to "noun", modal", "verb"
model.add_transition(state_noun, state_noun, 1/9)
model.add_transition(state_noun, state_modal, 1/3)
model.add_transition(state_noun, state_verb, 1/9)

# Transition probabilities from "modal" to "noun", modal", "verb"
model.add_transition(state_modal, state_noun, 1/4)
model.add_transition(state_modal, state_modal, 0)
model.add_transition(state_modal, state_verb, 3/4)

# Transition probabilities from "verb" to "noun", modal", "verb"
model.add_transition(state_verb, state_noun, 1)
model.add_transition(state_verb, state_modal, 0)
model.add_transition(state_verb, state_verb, 0)

# Transition probabilities from "noun", modal", "verb" to "<E>" 
model.add_transition(state_noun, model.end, 4/9)
model.add_transition(state_modal, model.end, 0)
model.add_transition(state_verb, model.end, 0)

In [0]:
model.bake()

In [28]:
print("Total number of edges: ", model.edge_count())
print("Total number of states or nodes: ", model.node_count())

Total number of edges:  15
Total number of states or nodes:  5

In [0]:
# Changing "None-end" to "end"
model.states[-1].name = "<E>"

# Changing "None-end" to "end"
model.states[-2].name = "<S>"

In [30]:
text = "Jane will spot Will."
print(text)
### Preprocessing the text

# Lower case
text = text.lower()

# remove punctuation
text = re.sub(r"[^a-zA-Z0-9]", " ", text)

# Tokenizing
text = text.split()
print("Preprocessed text: \n", text)

Jane will spot Will.
Preprocessed text:
 ['jane', 'will', 'spot', 'will']

In [31]:
### Prediction
viterbi_likelihood, viterbi_path = model.viterbi(text)

# Get the final viterbi path
viterbi_path = [i_state[1].name for i_state in viterbi_path]

print("The most likely sequence: \n", viterbi_path, "\n")
#print("With likelihood of (approximate):\n {:.3f}%".format(np.exp(viterbi_likelihood)*100))

The most likely sequence:
 ['<S>', 'noun', 'modal', 'verb', 'noun', '<E>']